In [8]:
###  Micro Project : Predict the Salary of 2 new employees on the basis of experience , test scores, and interview scores
#1) experience = 2yrs, test_score = 9 , interiew_score = 6 
#2) experience = 12yrs, test_score = 10 , interiew_score = 10 

#Importing relevant modules 

import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [20]:
#uploading the corresponding csv file
df = pd.read_csv('C:\\Users\\user\\Documents\\PY ML\\hiring.csv')
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [21]:
#for the missing data in test_score, we will update it by median value of the coloumn
#importing math file for this

import math
median_TestScore= math.floor(df.test_score.median())
median_TestScore

8

In [22]:
#updating test score coloumn with median value 
#updating experience coloumn with zero where NaN


df.test_score= df.test_score.fillna(median_TestScore)
df.experience = df.experience.fillna("zero")
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         8.0                7   72000
7     eleven         7.0                8   80000

In [23]:
## using word2num files converting word to numbers in experience coloumn 
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [25]:
# creating linear model using linear regression 
# and fitting the model by ging expernce , test_Score,Interview score

reg=linear_model.LinearRegression()
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [54]:
#Predicting values of required candidates
Emp1_salary = reg.predict([[2,9,6]])
Emp1_salary

C:\Users\user\Documents\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [51]:
Emp2_salary = reg.predict([[12,10,10]])
Emp2_salary

C:\Users\user\Documents\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])